#####################
# Mac OS X Specifics
#####################
.DS_Store

########################
# Debugging
########################
x

########################
# Codeigniter Specifics
########################
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
*/index.php
/assets/cache/*
/assets/cache/info.cache
!/assets/cache/index.html

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

########################
# Phing Build Files
########################
/build/*
!/build/index.html
/.build
