body{
  margin-top:50px;
  background: url('/images/paper_02.png') left top repeat;
}

.login-body{
  margin-top:0;
}

.environment {
    padding: 10px;
    margin-bottom:30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #F74242;
    border-bottom: 3px solid #B53232;
}
.environment-backend{
  margin-top:40px;
}
.h1-title{
  margin-bottom:10px;
}
/*  =Login Form

  ------------------------------------------------------ */
  .login-box{
    margin-bottom:10px;
  }
  .login-input{
    width:97%;
  }
  #powered-by-mapit a{
    text-decoration:none;
  }
  #login-form{
    margin-bottom:0;
  }
  label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }


/**
 * Notice Styling
 */
.nav-notice{
  margin-top:6px !important;
  cursor:pointer;
}
.notice-container{
  display:none;
  top: 37px;
  right: -100px;
  position: absolute;
}
.notice-container .notice-arrow{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid #EFEFEF;
  left: 59%;
  top: -9px;
}
.notice-container ul{
  font-size:9px;
  max-height: 200px;
  min-height:140px;
  border: 3px solid white;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 1px 3px #C3C3C3;
  overflow-x: hidden;
  overflow-y: scroll;
}
.notice-container ul li{
  padding:6px;
  position:relative;
  border-bottom: 1px solid #CECECE;
  border-top: 1px solid white;
}
.notice-container ul li:first-child{
  color: #333;
  border-top: 0;
  background-color: white;
}
.notice-container ul li:last-child{
  border-bottom:0;
}
.notice-container .label{
  margin-right:3px;
}
.notice-message{
  position:relative;
}
.notice-description{
  display:block;
}
.notice-container ul li:hover{
  color:#333;
  background: white;
}
.notice-container i {
  margin-left: 8px;
  cursor:pointer;
  top: 75%;
  right:5px;
  display: inline;
  position: absolute;
  float: right;
  margin-top: -17px;
}
/*  =Admin Area
  ------------------------------------------------------ */
  #graph-hero-container{
    padding:30px;
  }
  #graph-hero-container h3{
    padding-bottom:15px;
  }
  .graph-centering{
    width:614px;
    margin:0 auto;
    text-align:center;
  }
  .graph{
    display:none;
  }


/**
 * Loading Box
 */
.loading{
  float: left;
  height: 108px;
  width: 1137px;
  position: absolute;
  text-align:center;
  margin:0 auto;
  border-radius:6px;
  background: url('/images/transparent_loading_background.png') left top repeat;
}

/**
 * Item Modification Styling 
 *
 * This is the styling for the icons on the right hand side
 * of the tables.
 */
.status-link-deactivate:hover, .status-link-deactivate:active,
.status-link-deactivate:visited, .status-link-deactivate:link{
  color: #8db72a;
  text-decoration:none;
}
.status-link-activate:hover, .status-link-activate:active,
.status-link-activate:visited, .status-link-activate:link{
  color:#f68e00;
  text-decoration:none;
}

.manage-item a {
  padding-right: 6px;
}
.manage-item a:last-child {
  padding-right: 0;
}

.manage-icon:link, .manage-icon:hover,
.manage-icon:visited, .manage-icon:active{
  text-decoration:none;
}

.item-delete:link, .item-delete:hover,
.item-delete:visited, .item-delete:active{
  color:#B51423;
}
/*  =Advertisement Styling
  ------------------------------------------------------ */
  .advertisement-thumbnail{
    display:none;
  }
