body{
  background: url('/images/paper_01.png') left top repeat;
}
.environment {
    padding: 10px;
    margin-bottom:30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #F74242;
    border-bottom: 3px solid #B53232;
}
.h1-title{
  margin-bottom:10px;
}
/*  =Login Form

  ------------------------------------------------------ */
  .login-box{
    margin-bottom:10px;
  }
  #powered-by-mapit a{
    text-decoration:none;
  }
  .login-input{
    width:311px !important;
  }